esphome:
  friendly_name: "ESP32-S3-ETH USB/IP"
  name: usbip-server
  platformio_options:
    build_flags:
      # Enable USB Host mode
      - -DCONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=1024
      - -DCONFIG_USB_HOST_HW_BUFFER_BIAS_BALANCED=1

esp32:
  variant: esp32s3
  flash_size: 16MB
  framework:
    type: esp-idf
    sdkconfig_options:
      # USB Host configuration
      CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE: "1024"
      CONFIG_USB_HOST_HW_BUFFER_BIAS_BALANCED: y
      CONFIG_USB_HOST_ENABLE_ENUM_FILTER_CALLBACK: y
      # Explicitly disable PSRAM
      CONFIG_SPIRAM: n

logger:
  baud_rate: 0  # Disable UART logging, use web only
  level: INFO
  logs:
    usbip: INFO

api:
  reboot_timeout: 0s

ota:
  - platform: esphome

external_components:
  - source:
      type: local
      path: ./components
    components: [ usbip ]

web_server:
  port: 80
  version: 3
  local: true

ethernet:
  type: W5500
  clk_pin: GPIO13
  mosi_pin: GPIO11
  miso_pin: GPIO12
  cs_pin: GPIO14
  interrupt_pin: GPIO10
  reset_pin: GPIO9

usbip:
  port: 3240
  printer_firmware: sihpP1102.dl

sensor:
  - platform: uptime
    name: "Uptime"
    update_interval: 60s
    icon: mdi:clock-outline
    entity_category: "diagnostic"
  - platform: internal_temperature
    name: "Internal Temperature"
    entity_category: "diagnostic"

switch:
  - platform: restart
    name: "Restart Device"
    entity_category: "diagnostic"
